<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dragon Read</title>

  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/home.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
  <%- include('components/navbar'); %>
  <section class="main">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="https://images5.alphacoders.com/865/865662.png" alt="" srcset=""></div>
        <div class="swiper-slide"><img src="https://images5.alphacoders.com/111/thumb-1920-1113757.jpg" alt="" srcset=""></div>
        <div class="swiper-slide"><img src="https://wallpapers.com/images/featured/powerful-dragon-jdd3jhh8sd4blvje.jpg" alt="" srcset=""></div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>


    <div class="grid-content">
      <div class="popular">popular</div>
      <div class="comics">comics</div>
      <div class="news">news</div>
    </div>
  </section>

  <%- include('components/footer'); %>

  <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script defer src="/js/app.js"></script>
  <script defer src="/js/http-client.js"></script>
  <script defer src="/js/cookie-manager.js"></script>
  <script defer src="/js/app-interface.js"></script>
</body>

</html>